<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <div class="header-container">
      <h1 class="brand">Аквасвіт</h1>
      <div class="contact">
        <a href="tel:0445001212">(044) 500-12-12</a>
        <span>Графік роботи: Пн-Пт 9:00-18:00</span>
      </div>
      <a href="/order" class="btn order-btn">Замовити воду</a>
    </div>
  </header>

  <main>
    <section class="hero">
      <h2>КОРИСНА ВОДА <br><span class="highlight">розумна ціна</span></h2>
    </section>

    <section class="products">
      <% products.forEach(product => { %>
        <div class="product">
          <img src="/images/<%=product.Image_name%>" alt="<%= product.Product_name %>">
          <h3><%= product.Product_name %></h3>
          <p><%= product.Details %></p>
          <div class="price">
            <span>Кількість: <%= product.Quantity %></span>
            <span>Ціна: <%= product.Price_per_unit %> грн</span>
          </div>
            <button type="button" class="btn btn-primary" data-product-id="<%= product.Product_id %>">
              Додати в кошик
            </button>
        </div>
      <% }); %>
    </section>
    
  </main>
  <script>
    document.querySelectorAll('.btn-primary').forEach(button => {
  button.addEventListener('click', function() {

    const productId = this.dataset.productId;
    
    console.log(this.dataset);
    fetch(`/busket/${productId}`, {
      method: 'PUT',
    })
      .then(response => response.json())
      .then(data => {
        console.log('Response:', data);
      })
      .catch(error => {
        console.error('Error:', error);
      });
  });
});
  </script>

<footer class="bg-light py-3 mt-4">
  <div class="container text-center">
      <p>&copy; 2024 Аквасвіт. Усі права захищені.</p>
  </div>
</footer>
</body>
</html>